@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
  background-color:black;
  font-family: 'Exo 2';
}
body{

  overflow: hidden;
}
.canvasside {
  width: 50%;
  height:100vh;
  position:absolute;
  top: 0;
  left:0;

}
.textside {
  width: 50%;
  height:100vh;
  background-color:black;
  position:absolute;
  top: 0;
  right:0;
  margin-right: -4rem;
}

.fullscreen {
  display:flex;
  flex-direction: row;
  height:100%;
  width: 100%;
  background-color: black;
}

h1 {
  color:white;
  font-size:10em;
}

p {
  color:white;
  font-size:3em;
  font-weight:100;
  display:flex;
  overflow: hidden;
}

.typing {
  width: 47ch;
  animation: typing-anim 5s steps(47), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid;
}

.glow {
  text-shadow: 0 0 20px #fff, 0 0 30px blueviolet, 0 0 40px blueviolet, 0 0 50px blueviolet, 0 0 60px blueviolet, 0 0 70px blueviolet, 0 0 80px blueviolet
}

@keyframes typing-anim {
  from {
      width: 0
  }

}
  
@keyframes blink {
  50% {
      border-color: transparent
  }
}
