@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

* {
  background-color:black;
  font-family: 'Exo 2';
}
body{

  overflow: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.canvasside {
  width: 50%;
  height:100vh;
}

.left {
  position:absolute;
  top: 0;
  left:0;
}

.right {
  position:absolute;
  top: 0;
  right:0;
}

.textside {
  width: 48%;
  height:100vh;
  background-color:black;
  padding:6vh;
  box-sizing: border-box;
}

.fullscreen {
  display:flex;
  flex-direction: row;
  height:100%;
  width: 100%;
  background-color: black;
}

.heading {
  color:white;
  font-size:8em;
  text-align:left;
  line-height: 8.5rem;
  
}

p {
  color:rgb(192, 192, 192);
  font-size:3em;
  font-weight:100;
}

h3 {
  color:rgb(192, 192, 192);
  font-size:2em;
  font-weight:200;
}

.barbg {
  width: 70%;
  margin: auto;
  background-color: rgba(206,204,202,0.2);
}

.wafflebar {
  text-align: right;
  font-size: larger;
  font-weight:bold;
  color:rgba(51, 0, 0,0.7);
  padding:.5rem;
  background-image:url('./models/waffle.jpg');
}

.etowerwaffle {
  width:10%;
}

#typing::after{
  content: "|";
  font-size: 1.25em;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { color: transparent }
  50% { color: rgba(245, 245, 245) }
}

.fade {
  animation: fade 2s;
}

@keyframes fade {
  0%{opacity:0;}
  100%{opacity:1;}
}

.fade2{
  animation: fade 10s;
}
